// Viewports
$tablet-width: 768px;
$middle-width: 1000px;
$desktop-width: 1440px;
$mobile-width-only: 767px;

//Fonts
$primary-font: "Nyashasans", "Arial", sans-serif;

//Colors
$base-color-text: #000000;
$light: #ffffff;
$bg-color-one: #ffe249;
$bg-color-two: #f668a2;
$bg-color-three: #92ccfe;
$status-error: #ff8282;
